﻿@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html, body {
    font-family: 'Proxima Soft';
    height: 100%;
    width: 100%;
}

#mapid {
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.iconBtn {
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 120px;
    z-index: 500;
}

.iconBtn2 {
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 120px;
    width: 385px;
    left: 11px;
    z-index: 500;
    -moz-box-shadow: 0 0 10px 2px rgb(0 0 0 / 5%);
    -webkit-box-shadow: 0 0 10px 2px rgb(0 0 0 / 5%);
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 5%);
    
}

.subIconBtn {
    padding: 10px 0px;
    color: #AAAAAA;
}
.iconTime {
    font-weight: 500;
    color: #4A4A4A;
    font-family: 'Proxima Soft';
    font-weight: 600;
}

.btn-light {
    background-color: #fff;
}


/*Informations*/
.courses-container1 {
    z-index: 500;
    position: absolute;
    top: 230px;
    left: 12px;
}

.course {
    width: 385px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    max-width: 100%;
    overflow: hidden;
}


.course h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.course h2 {
    letter-spacing: 1px;
    margin: 10px 0;
    font-size: 0.8rem;
    font-weight: bold;
}

.course-preview {
    background: linear-gradient(45deg, #101010, #2c3e50);
    /*background: rgb(55, 171, 46);*/
    color: #fff;
    padding: 15px 20px;
    max-width: 250px;
}

.icon {
    font-size: 1.3rem;
}

.course-info {
    padding: 10px;
    position: relative;
    width: 100%;
}

hr {
    border: none;
    border-left: 1px solid rgb(100, 100, 100, 0.5);
    margin: 5px 0px;
    height: 60px !important;

}

.leaflet-touch .leaflet-locationiq-control.leaflet-locationiq-expanded {
    width: 385px !important;
}